$mainColor:rgb(122, 162, 247);
$buttonColor:rgb(69, 105, 189);
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
} 
body{
    nav{
        background-color:white;
        position: sticky;
        top:0px;
        z-index:5;
        div.Container{
            display:flex;
            flex-flow:row nowrap;
            align-items:center;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            a{
                font-weight: bold;
                display:inline-block;
                text-decoration:none;
                color:black;
                font-size: 1.5rem;
                cursor: pointer;
                &:hover{
                    color:$mainColor;
                    }
            }
            ul{
                display:flex;
                flex-wrap: nowrap;
                margin-bottom:0;
                margin-left: auto;
                li{
                    list-style-type:none;
                    margin:1rem;
                    a{
                      color:black;
                      text-decoration:none;
                      font-weight: bold;
                      transition:all 0.1s ease; 
                      font-size: 1.3rem;
                      &:hover{
                        color:$mainColor;
                      } 
                    }
                    ul.dropdown-menu-c{
                        background-color: white;
                        display:none;
                        position:absolute;
                        border:1px solid rgba(0, 0, 0, 0.175);
                        border-radius: 1rem;
                        padding:0;
                        right:-10px;
                        top:40px;
                        li{
                            margin:0;
                            padding:20px 50px;
                            text-align: center;
                            transition:all 0.2s linear;
                            &:hover{
                                transform: scale(1.2);
                                border-radius: 1rem;
                            }
                            a{
                                font-weight: bold;
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        section.main_area{
            background-color: white;
            display:flex;
            flex-wrap:wrap;
            justify-content:center;
            div.info{
                flex-basis:600px;
                padding:2rem;
                h1{
                    font-size:3rem;
                }
                h3{
                    font-size:1.2rem;
                    padding:2rem 0;
                }
                a{
                    color:white;
                    background-color: $buttonColor;
                    padding:0.8rem 1rem;
                    font-size:1.2rem;
                    border-radius:10px;
                    display:inline-block;
                    margin-top:2rem;
                    text-decoration:none;
                    transition: all 0.5s ease;
                    &:hover{
                        transform:scale(1.1);
                    }
                }
            }
            img{
                flex-basis: 435px;
                max-width: 450px;
            }
        }
        section.skill{
            background-color: $mainColor;
            padding:2rem;
            display:flex;
            flex-direction:column;
            align-items:center;
            h3{
                    font-weight:bold;
                }
            div.introduce{
                width:65%;
                text-align:left;
                p{
                    font-size:1.1rem;
                }
            }
            div.progress-area{
                text-align:left;
                width:65%;
                p{
                    margin:0.5rem 0rem;
                }
                div.progress-bar-area{
                    margin-top:2rem;
                    width:600px;
                }
            }
        }
        section.resume{
            section.table{
                padding:3rem;
                table{
                    width:65%;
                    margin-left:auto;
                    margin-right:auto;
                    tr{
                        border-bottom:2px solid gray;
                        border-top:2px solid gray;
                        transition: all 1s ease;
                        &:hover{
                            background-color: $mainColor;
                        }
                    }
                    td{
                        padding:1rem;
                        ol{
                            margin-bottom:0px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1050px){
    body{
        main{
            section.main_area{
                div.info{
                    padding:1rem;
                }
            }
            section.skill{
                padding:1rem;
                div.introduce{
                    width:95%;
                }
                div.progress-area{
                    width:95%;
                }
            }
            section.resume{
                section.table{
                    padding:2rem;
                    table{
                        width:95%; 
                    }
                }
            }
        }
    }
}

@media screen and (max-width:800px){
    body{
        main{
            section.skill{
                div.progress-area{
                    div.progress-bar-area{
                        width:400px;
                    }
                }
            }
            
            
        }
    }
}